doctype html
html
  head
    title = "Chat Application"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title} well hello my name is matt!!
    #banner.rect
      hello
  
    
    